In [2]:
s = "Join Numbers Using Comprehension"
t = [len(one_word) for one_word in s.split()]
t

[4, 7, 5, 13]

Ex28. Join Numbers Using Comprehension

In [6]:
','.join(str(i) for i in range(15))

'0,1,2,3,4,5,6,7,8,9,10,11,12,13,14'

In [8]:
t = [x*x for x in range(0,15) if x%2 == 0]
t

[0, 4, 16, 36, 64, 100, 144, 196]

In [6]:
x = [[1,1],[2,3,4],[4],[4,5]]
len(x)

4

In [11]:
wrds = "just some random words here.".split()
t = map(len, wrds)
print(sum(t))

24

all_places = {'USA': ['Philadelphia', 'New York', 'Cleveland', 'San Jose', 'San Francisco'],
     'China': ['Beijing', 'Shanghai', 'Guangzhou'],
     'UK': ['London'],
     'India': ['Hyderabad']}
get only the list of cities

In [3]:
all_places = {'USA': ['Philadelphia', 'New York', 'Cleveland', 'San Jose', 'San Francisco'],
     'China': ['Beijing', 'Shanghai', 'Guangzhou'],
     'UK': ['London'],
     'India': ['Hyderabad']}
t = [one_city for country, city in all_places.items() for one_city in city]
print(*t)

Philadelphia New York Cleveland San Jose San Francisco Beijing Shanghai Guangzhou London Hyderabad

In [4]:
s = [(country, one_city) for country, city in all_places.items() for one_city in city]
s

[('USA', 'Philadelphia'),
 ('USA', 'New York'),
 ('USA', 'Cleveland'),
 ('USA', 'San Jose'),
 ('USA', 'San Francisco'),
 ('China', 'Beijing'),
 ('China', 'Shanghai'),
 ('China', 'Guangzhou'),
 ('UK', 'London'),
 ('India', 'Hyderabad')]

In [6]:
sum([x*x for x in range(100000000)])

333333328333333350000000

In [7]:
sum((x*x for x in range(100000000)))

333333328333333350000000

### Comprehensions: usually of the format- 
Expression <br>
Iteration <br>
Filter

In [1]:
[(x,y)
for x in range(5)
if x%2
for y in range(5)
if x%3]

[(1, 0), (1, 1), (1, 2), (1, 3), (1, 4)]

In [10]:
for x in range(10):
    if x%2:
        print(x)

1
3
5
7
9

### ex29 Adding Numbers

In [4]:
x = '10 abc 20 de44 30 55fg 40'.split()
sum(int(y) for y in x if y.isdigit())

100

In [5]:
x = [[1,2], [3,4]]

[[1, 2], [3, 4]]