## Chapter 7 Functional Programming With Comprehensions

In [1]:
s = "Join Numbers Using Comprehension"
t = [len(one_word) for one_word in s.split()]
t

[4, 7, 5, 13]

Ex28. Join Numbers Using Comprehension

In [ ]:
','.join(str(i) for i in range(15))

'0,1,2,3,4,5,6,7,8,9,10,11,12,13,14'

In [ ]:
t = [x*x for x in range(0,15) if x%2 == 0]
t

[0, 4, 16, 36, 64, 100, 144, 196]

In [ ]:
x = [[1,1],[2,3,4],[4],[4,5]]
len(x)

4

In [ ]:
wrds = "just some random words here.".split()
t = map(len, wrds)
print(sum(t))

24

all_places = {'USA': ['Philadelphia', 'New York', 'Cleveland', 'San Jose', 'San Francisco'],
     'China': ['Beijing', 'Shanghai', 'Guangzhou'],
     'UK': ['London'],
     'India': ['Hyderabad']}
get only the list of cities

In [ ]:
all_places = {'USA': ['Philadelphia', 'New York', 'Cleveland', 'San Jose', 'San Francisco'],
     'China': ['Beijing', 'Shanghai', 'Guangzhou'],
     'UK': ['London'],
     'India': ['Hyderabad']}
t = [one_city for country, city in all_places.items() for one_city in city]
print(*t)

Philadelphia New York Cleveland San Jose San Francisco Beijing Shanghai Guangzhou London Hyderabad

In [ ]:
s = [(country, one_city) for country, city in all_places.items() for one_city in city]
s

[('USA', 'Philadelphia'),
 ('USA', 'New York'),
 ('USA', 'Cleveland'),
 ('USA', 'San Jose'),
 ('USA', 'San Francisco'),
 ('China', 'Beijing'),
 ('China', 'Shanghai'),
 ('China', 'Guangzhou'),
 ('UK', 'London'),
 ('India', 'Hyderabad')]

In [ ]:
sum([x*x for x in range(100000000)])

333333328333333350000000

In [ ]:
sum((x*x for x in range(100000000)))

333333328333333350000000

### Comprehensions: usually of the format-
Expression <br>
Iteration <br>
Filter

In [ ]:
[(x,y)
for x in range(5)
if x%2
for y in range(5)
if x%3]

[(1, 0), (1, 1), (1, 2), (1, 3), (1, 4)]

In [ ]:
for x in range(10):
    if x%2:
        print(x)

1
3
5
7
9

### ex29 Adding Numbers

In [ ]:
x = '10 abc 20 de44 30 55fg 40'.split()
sum(int(y) for y in x if y.isdigit())

100

### ex30 Flatten a list

In [ ]:
lst = [[1,2], [3,4]]
[one_element for sub_lst in lst for one_element in sub_lst]

[1, 2, 3, 4]

### ex32 Flip a Dict

In [ ]:
d = {'a':1, 'b':2, 'c':3}
#method 1
{j:i for i,j in d.items()}

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# method 2
{d[i]:i for i in d}

{1: 'a', 2: 'b', 3: 'c'}

### ex33 Transform Values
This exercise combines showing how you can receive a function as a function argument, and how comprehensions can help us to elegantly solve a wide variety of problems.
Basically we pass a lambda function with data on which the function needs to be applied to another function.
Normally the purpose of a function is to do same set of tasks on similar set of data, but what if we need to implement different set of tasks on similar set of data.

In [ ]:
# we use the same dict from previous exercise.
def transform_val(fun, d):
    return {k: fun(v) for k,v in d.items()}

print(transform_val(lambda x: x*x, d))

{'a': 1, 'b': 4, 'c': 9}

In [ ]:

print(transform_val(lambda x : x + 10, d))

{'a': 11, 'b': 12, 'c': 13}

### ex34 (Almost) supervocalic words
I want you to write a get_sv function that returns a set of all “supervocalic” words in the dict. Words contain all five vowels in English (a, e, i, o, and u), each of them appearing once and in alphabetical order.
For the purposes of this exercise, accepting any word that has all five vowels, in any order and any number of times.

In [ ]:
vowels = {'a','e','i','o','u'}
wrd = ["acanthin","acanthine","acanthion","acanthite","acanthocarpous","Acanthocephaliu","acanthocephalous", "superlogical"]
[i for i in wrd if vowels < set(i.lower())]

['Acanthocephaliu', 'superlogical']

### ex35a Gematria Part 1
create a dict {'a':1,'b':2, ... 'z':26}

In [ ]:
import string
#string.ascii_lowercase #returns a-z
gematria = {k:v for v, k in enumerate(string.ascii_lowercase,1)}

In [ ]:
gematria.get('x',0)

24